---
layout: withheader
---

<div class="row justify-content-md-center">
  <div class="about col-lg-4">
    My name is Will Shackleton, and I work on privacy and security at Facebook.
  </div>
</div>

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <div class="row justify-content-md-center">
        <li class="col-md-5">
          <h2 {% if post.smallcaps %}class="title-smallcaps"{% endif %}>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-5">
          <hr />
        </div>
      </div>
    {% endfor %}
  </ul>

</div>
