<div class="container-fluid">
  <div class="row justify-content-center index-header header-my-name">
    <div class="col-md-12" href="/">
      WILL SHACKLETON
    </div>
  </div>
  <div class="row justify-content-center index-header index-header-icons">
    <div class="col-md-2">
      <a href="http://sljo.org.uk">
        <div class="header-icon saxophone"></div>

        <p>
          I play Saxophone in a Jazz Band
        </p>
      </a>
    </div>
    <div class="col-md-2">
      <a href="https://www.facebook.com/TonicQuarter">
        <div class="header-icon barbershop"></div>

        <p>
          I sing in a Barbershop Quartet
        </p>
      </a>
    </div>
    <div class="col-md-2">
      <div class="header-icon metalogo"></div>

      <p>
        I work for Meta
      </p>
    </div>
    <div class="col-md-2">
      <div class="header-icon roundel"></div>
      <p>
        I live in London
      </p>
    </div>
  </div>
</div>
