$purple: #21123F;
$hover_purple: #351e64;

a {
    color: $purple;
    text-decoration: underline;
}

a:hover {
    color: $hover_purple;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    a {
        text-decoration: none;
    }
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
}

.staticSizeImg img {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 900px;
}
