.about {
    text-align: center;
    padding-top: 6em;
}

.post-list {
    list-style-type: none;

    h2 {
        text-transform: uppercase;
        padding-top: 2em;
    }

    h2.title-smallcaps {
        text-transform: none;
        font-variant: small-caps;
    }

    .post-meta {
        font-size: 0.8em;
    }
}
